* {
	box-sizing: border-box;
}

body {
	padding:0;
	margin:0;
	font-family: 'Permanent Marker', cursive;
	padding-top: 63px;
}

header {
	color:black; 
	font-size:25px;
	font-weight: 600;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: 70;
}

header.main ul li {
	display:inline-block;
	font-size: 20px;
	font-weight: 600;
	padding: 0px;
	margin: 15px 0 0 0;
	font-family: 'Bree Serif', serif;
}


header h1 {
	float:left;
	padding:0px 0px 0px 50px;
	font-size: 40px;
}

header ul {
	float: right;
}

a.next {
	padding-right: 50px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}


.burger {
	display: none;
}


/*----------section starts---------*/

section.image {
	background: url(../images/starter.jpg) center center;
	background-size: cover;
	height: 650px;
	display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo {
	font-weight: 600;
	font-size: 50px;
    color: #404040;
	text-transform: uppercase;
	font-family: 'Lobster', cursive;
}


.pillar {
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
	margin-top: 5px;
	font-family: 'Kalam', cursive;
}

.pad-fix {
	padding-top:15px;
	padding-bottom:15px;
}

div.hover-effect {
	transition: 0.6s;
}


div.hover-effect:hover {
	transform: translateY(-15px);
}


.animate {
  transform:translate(450px, 150px) rotate(360deg) scale(2);
}

/*-------------Footer area-----------------*/

footer {
	background-color: black;
}

h3 {
	color: #d9d9d9;
}

footer .col-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer li {
	display: inline-block;
	text-align: right;
	width: 80px;
}

footer li a {
	color: white;
	font-size: 30px;
	text-decoration: none;
}

footer li a:hover {
	color: white;
}


/*-------------Media area------------------*/

@media only screen and ( max-width:764px ) {

	.burger {
		display: flex;
		font-size: 40px;
		align-items: center;
		cursor: pointer;
		float: right;
		margin-right: 20px;
	}


	.nav-bar {
		display: none;
	}

	.open {
	    display: block;
	    position: fixed;
	    right: 0;
	    top: 70px;
	    background-color: white;
	}

	.nav-bar ul {
		display: flex;
		flex-direction: column;
	}

	.nav-bar ul li {
		margin: 20px 0 !important;
	}
	
	.map iframe {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}


/*----------------index_content------------*/

.myCarousel {
	position: relative;
	overflow: hidden;
}

.fa-arrow-circle-left, .fa-arrow-circle-right {
	font-size: 55px;
	position: absolute;
	left:50px;
	top:50%;
	transform: translateY(-80%);
	z-index: 999;
	color: #fff;
	text-shadow: 0px 0px 5px #000;
}

.fa-arrow-circle-right {
	left: auto;
	right: 50px;
}

.slick-dots {
	margin:0;
	padding:0;
	text-align: center;
}

.slick-dots li button {
	display:none;
}

.slick-dots li {
	display: inline-block;
	background:black;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: 0 4px;
	opacity: 0.5;
}

.slick-dots li.slick-active {
	opacity: 1;
}

.gallery div.album {
	margin-bottom: 15px;
	cursor: pointer;
}

.gallery div.bottom {
	margin-bottom: 25px;
}

h2#grab {
	text-align: center;
}

.album1 {
	margin-bottom: 15px;
}

.album2 {
	margin-bottom: 15px;
}

.album3 {
	margin-bottom: 15px;
}

.album4 {
	margin-bottom: 15px;
}
/*------------game board--------------*/

.game-board {
  width:100%;
  position:relative;
  overflow: hidden;
}
.tile {
  width:20%;
  height:50px;
  background-color:white;
  float:left;
  border-top:solid 2px #333;
}

.treble {
  width:100px;
  height:100px;
  position:absolute;
  top:0;
  left:0;
  text-align:center;
  transition:all 0.3s;
}

.treble img {
  height:100px;
}

/*----------------index_contact-----------*/

form.contact {
	background: url(../images/contact.jpg) center center;
	background-size: cover;
	min-height: 90vh;
	padding-top: 10px;
	display: flex;
	align-items: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width:100%;
  margin-bottom:5px;
}

textarea {
	margin-top:5px;
}

.contact #setDate {
	display: inline-block;
    cursor: pointer;
    color:black;
}

.contact #setDate mark {
	background-color: #f2f2f2;
}